<p>parent works!</p>




<div>
  <button (click)="userLoggIn = true"> Login </button>
  <button (click)="userLoggIn = false"> logout </button>
  Parent ==> userLoggIn : {{userLoggIn}}
</div>

<app-child [loggedIn]="userLoggIn" #child>  </app-child>
{{child.name}}
<button (click)="child.grretFakher()"> Greet </button>

