<!--interpolation -->
<h1> {{pageTitle}}</h1>

<!--property Binding-->
<div>
  <img [src]="imgUrl" alt="image">
</div>

<!--event Binding-->
<button (click)="icrmentCount()">
  add </button> {{count}}

<!--Two way data Binding-->
<div> Name
  <input type="text" [(ngModel)]="name" #nameRef>
  <p> {{name}}</p>
</div>

<div> UserName
  <input type="text" [ngModel]="userName" (ngModelChange)="updatedValue($event)">
  <p> {{userName}}</p>
</div>


<div> cutomerName
  <input type="text" [(ngModel)]="customerName">
  <p> {{customerName}}</p>
</div>
